body {
	background-color: black;
}

h1{
	color: white;
	font-family: monospace;
	font-size: 50px;
	text-align: center;
	border-color: white;
	border-style: outset;
	border-width: 10px;
	padding: 10px;
}
p{
	color: #e7e7e4;
	font-family: monospace;
	font-weight: bolder;
	text-align: center;
	width: 1000px;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 30px;
	border-style: inset;
	border-width: 50px;
}





/* NAVIGATION BAR */
nav{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

ul.nav{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li.nav{
	float: left;
}

li.nav a{
	display: block;
	color: green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: monospace;
	font-size: 20px;
}

li.nav a:hover{
	background-color: #111;
}

/* END OF NAVIGATION BAR*/