
body{
	background: rgb(2,0,36);
	background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,99,121,1) 49%, rgba(0,212,255,0.5348171221864952) 100%);
}
p{
	font-family: "Verdana";
	font-size: 18px;
}
h1{
	margin-top: 40px;
}

.block{
	text-align: left;
	color: white;
}

.container1{
		text-align: center;
		margin: 0px; padding: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}


.nav{
	display: none;
}

.fade4{
	animation: fade ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fade8{
	animation: fade ease 7s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.trans{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	width: 500px;
  	height: 50px;
  	transition: width 2s;
  	transition-timing-function: ease;

}

.trans:hover {
	background-color: white;
	width: 600px; /*calc(auto - 100px);*/
	font-weight: bold;
}

.hidden{
	display: contents;
	flex-direction: column;
}

#pad{
	padding-right: 50px;
}


/*--------MEDIA QUERIES---------*/

/* ----------- iPhone X ----------- */
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
    	body{
    		margin: 0;
    		background: rgb(2,0,36);
			background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,99,121,1) 49%, rgba(0,212,255,0.5348171221864952) 100%);
    	}
    	.hidden{
			display: none;
		}

		.container1{
			
			text-align: center;

			display: flex;
			flex-direction: column;
			font-size: 1.4rem;
			
		}
		.nav{
			display: contents;
		}

		ul{
			position: fixed;
			top: 0;
			margin-left: 0;
			width: 100%;
			list-style-type: none;
			margin: 0; padding: 0;
			overflow: hidden;
			background: rgb(45,3,43);
			background: linear-gradient(270deg, rgba(45,3,43,1) 0%, rgba(180,16,127,1) 50%, rgba(255,0,246,0.25862219887955185) 100%);
		}
		li{float: left;}
		li a{
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		li a:hover{
			background-color: #ffd1dc;
		}
		.fade8{
			animation: fade ease 4s;
		}
		.block{
			text-align: left;
			color: white;
			padding: 10px;
		}

     }


/* ----------- iPhone 4 and 4S ----------- *
min-device-width: 320px and max-device-width: 480px

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- *
min-device-width: 320px and max-device-width: 568px

/* ----------- iPhone 6, 6S, 7 and 8 ----------- *
min-device-width: 375px and max-device-width: 667px

/* ----------- iPhone X ----------- *
min-device-width: 375px and max-device-width: 812px

/* ----------- iPad Pro 10.5" ----------- *
min-device-width: 834px and max-device-width: 1112px

/* ----------- Kindle Fire HD 8.9" ----------- *
min-device-width: 1200px and max-device-width: 1600px

/* ----------- Non-Retina Screens ----------- *
min-device-width: 1200px and max-device-width: 1600px
