body{
	background: #17212a;
	color: white;
	font-family: 'Oswald', sans-serif;
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #dc435e;
	font-size: 3em;
	padding-top: 300px;
}

iframe{
	width: 500px;
	height: 300px;
}

#home{
	display: flex;
}

#bio-description{

}

#home-image{
	max-width: 40%;
}

#bio{
	color: white;
}
#flex{
	display: flex;
	justify-content: center;
}
img.nav{
	height: 50px;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	body{

  	}
  	#home{
  		display: inline;
  		max-width: 100%;
  		max-height: 100%;
  	}
  	#home-image{
  		max-height: 100%;
  		max-width: 100%;
  		padding-top: 10%;
  		margin-right: 15%;
  		margin-left: 15%;
  	}

  	#home-mobile{
  		text-align: center;
  		font-size: 5em;
  		max-height: 100%;
  		max-width: 100%;
  	}
  	img.nav{
	height: 200px;
  	}

  	button#request-bio{
  		width: 80%;
  		font-size: 0.6em;
  	}

  	#color{
  	width: 50%;
  	}

  	#color-palette{
      width: 50rem;
    }

}