body{
	background: #17212a;
	color: white;
	font-family: 'Oswald', sans-serif;
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #dc435e;
	font-size: 3em;
	padding-top: 300px;
}

iframe{
	width: 500px;
	height: 300px;
}

#home{
	display: flex;
}

#bio-description{

}

#home-image{
	max-width: 40%;
}

#bio{
	color: white;
}
#flex{
	display: flex;
	justify-content: center;
}
