
/* LANDING PAGE------------------------------------------------- */

/*.............................................landing background*/
#landing{
	width: auto;
	height: auto;
	background-color: white;
	animation-name: landing;
	animation-duration: 10s;
	font-family: "arial";
}

@keyframes landing {
	from{background-color: black}
	to{background-color: white}
}

/*..............................................landing header*/
#landinghead{
	width: auto;
	padding: 30px;
	position: relative;
	text-align: center;
	background-color: white;
	animation-name: landinghead;
	animation-duration: 7s;
	border-style: solid;
	border-color: black;
	border-width: 10px;
}

@keyframes landinghead{
	from{ background: black; color: white;}
	to{background: white; color: black;}
}
