
body{
	background-color: #BBA49F;
	font-family: "Georgia";
}
h1{
	background-color: #DFCECA;
	padding-left: 100px;
	font-family: "Times New Roman";
}

#title{
	padding-left: 400px;
}

#bookcase{
	border-style: inset;
	margin-left: 50px;
	padding-left: 50px;
	width: 100px;
	background-color: #996600;

}

