body{
	background: #17212a;
	color: white;
	font-family: 'Oswald', sans-serif;
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #dc435e;
	text-align: center;
	font-size: 3em;
}

iframe{
	width: 500px;
	height: 300px;
}

#home{
	display: flex;
}

#bio-description{

}

#home-image{
	max-width: 30%;
}

#bio{
	color: white;
}